
body {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Establece el alto al 100% del viewport */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    background-color: #d1d9dc; /* Cambia el color de fondo según tus preferencias */
  }
  
  .container {
    /* Agrega estilos personalizados para el contenedor si es necesario */
  }
  